

{{> head }}

   {{> navbar }}
    <div class="row">
    <div class="col-8"><h1>Lamborgini Veneno Roadster</h1><p>El mejor auto de la historia</p></div>
    <div class="col-4">
        <img  src="assets/img/lambo.jpg" class="img-thumbnail">
    </div>
         </div>
{{> footer}}